*{
    font-family: "Roboto";
}

button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

button:hover{
    background-color: grey;
}

label{
    display: block;
    font-size: 48px;
}

input{
    border: none;
    border-bottom: 2px solid black;
    min-width: 45%;
    height: 50px;
    font-size: 32px;
}

textarea{
    min-width: 45%;
    height: 150px;
    font-size: 18px;

}

/* for components (untested these are guesses) 
at this point I would rather just build this darn thing myself lol
form {
    border: black solid 1px;
    margin:auto;
    width: 80%;
}

section{
    display: flex;
    flex-direction:row;
}

.card{
    flex-direction: column;
    min-width: 25%;
}

*/